<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Hello, world!</title>
  </head>
  <body>
    <h4 class="container mt-4"><strong>글 작성페이지</strong></h4>
    <div class="container mt-3">
 
    <ul class="list=group">
      <% for(let i=0; i < posts.length; i++) { %>
      <li class="list-group-item">
        <h4>할일 제목 : <%= posts[i].제목 %></h4>
        <p>할일 마감날짜 : <%= posts[i].날짜 %></p>
        <button class="delete" data-id="<%= posts[i]._id %>">삭제</button>
      </li>
      <% } %>
    </ul>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script>

      $(".delete").click(function (e) {
        var 글번호 = e.target.dataset.id;
        var 지금누른거 = $(this);
        $.ajax({
        method:"DELETE",
        url:"/delete",
        data:{ _id : 글번호 }
      }).done(function (결과){
console.log("성공했습니다")
지금누른거.parent("li").fadeOut();
      }).fail(function () {

      })
      })

   
    </script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
